/* ------------------------------------------------------------------------------------
   Main Styles for index.html
   ------------------------------------------------------------------------------------ */
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -193px;
	padding: 0 0 193px;
}

#footer {
	height: 193px;
}

/* ------------------------------------------------------------------------------------
   Navbar
   ------------------------------------------------------------------------------------ */

#mainLogin .dropdown-menu {
	min-width: 350px;
	padding: 20px;
}

#shoppingCart .dropdown-menu {
	min-width: 350px;
	padding: 20px;	
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* Mouse Over Effect for Dropdown if Screensize is bigger then 768px */
@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}
   
/* ------------------------------------------------------------------------------------
   Main Container
   ------------------------------------------------------------------------------------ */
   
#mainContainer {
	margin-top: 20px;
}


/* ------------------------------------------------------------------------------------
   Carousel
   3 Sizes
    - Large
    	- Width: 1170px
    	- Height: 502px
    - Medium:
    	- Width:  940px
    	- Height: 400px
    - Small:
    	- Width:  728px
    	- Height: 310px
   ------------------------------------------------------------------------------------ */

#homeCarousel { margin-bottom: 30px; }

#homeCarousel .item { height: 400px; } /* Default Size */

.carousel-caption { font-size: 20px; }

.carousel-caption h4 { font-size: 32px; }

#slide1 {
	background: url("../img/carousel_medium_01.jpg") top center no-repeat;
}

#slide2 {
	background: url("../img/carousel_medium_02.jpg") top center no-repeat;
}

#slide3 {
	background: url("../img/carousel_medium_03.jpg") top center no-repeat;
}


/* ------------------------------------------------------------------------------------
   Layout
   ------------------------------------------------------------------------------------ */

#category-row-1 {
	margin-bottom: 10px;
	text-align: center;
}

#category-row-2 {
	text-align: center;
}


/* ------------------------------------------------------------------------------------
   Products
   ------------------------------------------------------------------------------------ */

/* symbol for "opening" panels */
.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

/* symbol for "collapsed" panels */
.panel-heading .accordion-toggle.collapsed:after {
	content: "\e080";
}

/* adjusting panel */
#panelProducts {
	margin-bottom: 15px;
}

#panelProducts .panel-collapse {
	margin: 10px 20px 0 20px;
}

.list-group-item.productCheckbox {
	padding-left: 40px
}

/* List and GridView */
/* List and GridView */
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
  
.thumbnail .caption {
  	padding: 10px;
}
  
.thumbnail .list-group-item-text {
    margin: 0 0 10px;
}

.thumbnail .list-group-item-price {
    font-weight: bold;
    margin-top: 5px;
}

.thumbnail .caption .btn-success {
  	float: right;
}

.item.list-group-item {
	
    float: none;
  	width: 100%;
    padding: 0px;
    padding-left: 15px;
	padding-right: 15px;
    margin-bottom: 10px;
    border-color: #FFF;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 10px;
}

.item.list-group-item .caption {
    padding: 10px 10px 0px 10px;
}

.item.list-group-item .row {
    bottom:0;
    right:0;
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.item .label.label-danger.price, .item .label.label-success.price {
	position: absolute;
	top: -5px;
	right: 10px;
	padding: 5px; 
	font-size: 14px; 	
}


/* ------------------------------------------------------------------------------------
   Footer
   ------------------------------------------------------------------------------------ */
   
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	margin-top: 20px;
	padding: 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* ------------------------------------------------------------------------------------
   Media Queries
   ------------------------------------------------------------------------------------ */
   
/* Portrait & Landscape Phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait Tablet */
@media (max-width: 768px) {
	#homeCarousel .item { height: 310px; } /* Default Size */
	
	.carousel-caption { font-size: 16px; }

	.carousel-caption h4 { font-size: 24px; }

	#slide1 {
		background: url("../img/carousel_small_01.jpg") top center no-repeat;
	}
	
	#slide2 {
		background: url("../img/carousel_small_02.jpg") top center no-repeat;
	}
	
	#slide3 {
		background: url("../img/carousel_small_03.jpg") top center no-repeat;
	}	
}

/* Large Desktop */
@media (min-width: 1200px) {
	#homeCarousel .item { height: 500px; } /* Default Size */

	#slide1 {
		background: url("../img/carousel_large_01.jpg") top center no-repeat;
	}
	
	#slide2 {
		background: url("../img/carousel_large_02.jpg") top center no-repeat;
	}
	
	#slide3 {
		background: url("../img/carousel_large_03.jpg") top center no-repeat;
	}	
}




/* ------------------------------------------------------------------------------------
   Register form
   ------------------------------------------------------------------------------------ */


#wrap{
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}
legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}
.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}
.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
	}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
}

/* ------------------------------------------------------------------------------------
   End Register form
   ------------------------------------------------------------------------------------ */