<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>barnbay_ui</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Initialize</display-name>
    <servlet-name>Initialize</servlet-name>
    <servlet-class>test.Initialize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initialize</servlet-name>
    <url-pattern>/Initialize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestService</display-name>
    <servlet-name>TestService</servlet-name>
    <servlet-class>test.TestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestService</servlet-name>
    <url-pattern>/TestService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSubCategories</display-name>
    <servlet-name>GetAllSubCategories</servlet-name>
    <servlet-class>services.GetAllSubCategories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSubCategories</servlet-name>
    <url-pattern>/GetAllSubCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>services.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>services.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFarm</display-name>
    <servlet-name>UpdateFarm</servlet-name>
    <servlet-class>services.UpdateFarm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFarm</servlet-name>
    <url-pattern>/UpdateFarm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubCategoriesByCategoryId</display-name>
    <servlet-name>GetSubCategoriesByCategoryId</servlet-name>
    <servlet-class>services.GetSubCategoriesByCategoryId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubCategoriesByCategoryId</servlet-name>
    <url-pattern>/GetSubCategoriesByCategoryId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductInformation</display-name>
    <servlet-name>GetProductInformation</servlet-name>
    <servlet-class>services.GetProductInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductInformation</servlet-name>
    <url-pattern>/GetProductInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllFarmers</display-name>
    <servlet-name>GetAllFarmers</servlet-name>
    <servlet-class>services.GetAllFarmers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFarmers</servlet-name>
    <url-pattern>/GetAllFarmers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCheapestProductInformation</display-name>
    <servlet-name>GetCheapestProductInformation</servlet-name>
    <servlet-class>services.GetCheapestProductInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheapestProductInformation</servlet-name>
    <url-pattern>/GetCheapestProductInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCheapestProduct</display-name>
    <servlet-name>GetCheapestProduct</servlet-name>
    <servlet-class>services.GetCheapestProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheapestProduct</servlet-name>
    <url-pattern>/GetCheapestProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropSchema</display-name>
    <servlet-name>DropSchema</servlet-name>
    <servlet-class>test.DropSchema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropSchema</servlet-name>
    <url-pattern>/DropSchema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductByCategoryAndFarmer</display-name>
    <servlet-name>GetProductByCategoryAndFarmer</servlet-name>
    <servlet-class>services.GetProductByCategoryAndFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByCategoryAndFarmer</servlet-name>
    <url-pattern>/GetProductByCategoryAndFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFarmerByFarmerId</display-name>
    <servlet-name>GetFarmerByFarmerId</servlet-name>
    <servlet-class>services.GetFarmerByFarmerId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFarmerByFarmerId</servlet-name>
    <url-pattern>/GetFarmerByFarmerId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllBarnbays</display-name>
    <servlet-name>GetAllBarnbays</servlet-name>
    <servlet-class>services.GetAllBarnbays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBarnbays</servlet-name>
    <url-pattern>/GetAllBarnbays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBarnbayByBarnbayId</display-name>
    <servlet-name>GetBarnbayByBarnbayId</servlet-name>
    <servlet-class>services.GetBarnbayByBarnbayId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBarnbayByBarnbayId</servlet-name>
    <url-pattern>/GetBarnbayByBarnbayId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubCategoriesByPrice</display-name>
    <servlet-name>GetSubCategoriesByPrice</servlet-name>
    <servlet-class>services.GetSubCategoriesByPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubCategoriesByPrice</servlet-name>
    <url-pattern>/GetSubCategoriesByPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNotification</display-name>
    <servlet-name>SendNotification</servlet-name>
    <servlet-class>test.SendNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNotification</servlet-name>
    <url-pattern>/SendNotification</url-pattern>
  </servlet-mapping>
</web-app>